body {
  overflow: hidden;
}

.page{
  padding: 20px;
  background-color: #fdfaf7;
  color: #785e3a;
  border: 1px solid #c2b5a3;
  overflow: hidden;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgb(0 0 0 / 40%);
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: 1px solid #f4e8d7;
}

.page .page-content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flip-book {
  box-shadow: 0 0 20px 0 #00000080;
  margin: 0 auto;
  z-index: 100;
}